<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Minería de Datos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<div class="container section">

    <div class="text-center mb-5">
        <h1 class="title">Minería de Datos</h1>
        <p class="subtitle">
            Optimización de decisiones basada en análisis de datos
        </p>
    </div>

    <div class="card-custom bg-cyan mb-5">
        <p>
            La empresa <span class="highlight">SmartMarket</span> dispone de una gran cantidad de datos,
            pero actualmente no los utiliza de forma estratégica para segmentar clientes
            y mejorar su rendimiento comercial.
        </p>
    </div>


    <h3 class="mb-4">Problemáticas Identificadas</h3>

    <div class="row g-4">

        <div class="col-md-6">
            <div class="card-custom bg-green">
                <h5>Marketing ineficiente</h5>
                <p>Se envían promociones generales sin segmentación de clientes.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-custom bg-gray">
                <h5>Subutilización de datos</h5>
                <p>No se aprovechan variables como edad, ingresos y comportamiento de compra.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-custom bg-green">
                <h5>Pérdida de oportunidades</h5>
                <ul>
                    <li>Clientes potenciales</li>
                    <li>Clientes de alto valor</li>
                    <li>Clientes inactivos</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-custom bg-gray">
                <h5>Mala inversión de recursos</h5>
                <p>Se destinan esfuerzos a segmentos poco rentables.</p>
            </div>
        </div>

    </div>

    <div class="card-custom bg-cyan mt-5">
        <h5>Dataset</h5>
        <p>
            Fuente de datos:
            <a href="https://www.kaggle.com/datasets/hosseinbadrnezhad/mall-customer-segmentation-dataset" target="_blank">
                Kaggle
            </a>
        </p>
    </div>

</div>

</body>
</html>